projects/wsdl/WsdlGenerator2/src/wsdl/127.0.0.1_7777/ws/pump.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://ws.ru.mgfoms" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.ru.mgfoms" targetNamespace="http://ws.ru.mgfoms">
  <wsdl:types xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xmime="http://www.w3.org/2005/05/xmlmime" elementFormDefault="qualified" targetNamespace="http://ws.ru.mgfoms" xmlns:tns="http://ws.ru.mgfoms">
    
    <xs:complexType name="wsAuthInfo" xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:sequence xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:element name="orgId" type="xs:long" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
            <xs:element name="system" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
            <xs:element name="user" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
            <xs:element name="password" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
            <xs:element name="requestId" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema">
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    
    <xs:element name="registerChangeRequest" xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:sequence xmlns:xs="http://www.w3.org/2001/XMLSchema">
                <xs:element name="authInfo" type="tns:wsAuthInfo" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                <xs:element name="action" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                <xs:element name="docId" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                <xs:element name="category" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                <xs:element name="nschet" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                <xs:element name="C_OKATO1" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                <xs:element name="OKATO_OMS" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                <xs:element name="year" type="xs:int" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                <xs:element name="month" type="xs:int" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="registerChangeResponse" xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:sequence xmlns:xs="http://www.w3.org/2001/XMLSchema">
                <xs:element ref="tns:registerChangeRequest" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="registerReceiptRequest" xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:sequence xmlns:xs="http://www.w3.org/2001/XMLSchema">
                <xs:element name="authInfo" type="tns:wsAuthInfo" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                <xs:element name="docId" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                <xs:element name="year" type="xs:int" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                <xs:element name="month" type="xs:int" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                <xs:element name="success" type="xs:boolean" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                <xs:element name="description" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                <xs:element minOccurs="0" name="whenSigned" type="xs:dateTime" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                <xs:element minOccurs="0" name="packNum" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="registerReceiptResponse" xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:sequence xmlns:xs="http://www.w3.org/2001/XMLSchema">
                <xs:element ref="tns:registerReceiptRequest" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="getDocListRequest" xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:sequence xmlns:xs="http://www.w3.org/2001/XMLSchema">
                <xs:element name="authInfo" type="tns:wsAuthInfo" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                <xs:element name="C_OKATO1" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                <xs:element name="OKATO_OMS" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                <xs:element name="year" type="xs:int" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                <xs:element name="month" type="xs:int" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="getDocListResponse" xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:sequence xmlns:xs="http://www.w3.org/2001/XMLSchema">
                <xs:element ref="tns:getDocListRequest" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="docList" type="tns:docMetadata" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="docMetadata" xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:sequence xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:element name="docId" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
            <xs:element name="category" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
            <xs:element name="nschet" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
            <xs:element name="C_OKATO1" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
            <xs:element name="OKATO_OMS" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
            <xs:element name="year" type="xs:int" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
            <xs:element name="month" type="xs:int" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
            <xs:element minOccurs="0" name="changed" type="xs:dateTime" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
            <xs:element minOccurs="0" name="whenSigned" type="xs:dateTime" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
            <xs:element minOccurs="0" name="packNum" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:element name="getDocRequest" xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:sequence xmlns:xs="http://www.w3.org/2001/XMLSchema">
                <xs:element name="authInfo" type="tns:wsAuthInfo" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                <xs:element name="docId" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                <xs:element name="year" type="xs:int" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                <xs:element name="month" type="xs:int" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getDocResponse" xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:sequence xmlns:xs="http://www.w3.org/2001/XMLSchema">
                <xs:element ref="tns:getDocRequest" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                <xs:element name="checksum" type="xs:string " xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                <xs:element minOccurs="0" name="content" type="xs:base64Binary" xmime:expectedContentTypes="application/zip" xmlns:xmime="http://www.w3.org/2005/05/xmlmime" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getDocListRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:part element="tns:getDocListRequest" name="getDocListRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="registerChangeRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:part element="tns:registerChangeRequest" name="registerChangeRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDocRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:part element="tns:getDocRequest" name="getDocRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="registerChangeResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:part element="tns:registerChangeResponse" name="registerChangeResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="registerReceiptRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:part element="tns:registerReceiptRequest" name="registerReceiptRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="registerReceiptResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:part element="tns:registerReceiptResponse" name="registerReceiptResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDocListResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:part element="tns:getDocListResponse" name="getDocListResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDocResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:part element="tns:getDocResponse" name="getDocResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ParusPort" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:operation name="getDocList" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <wsdl:input message="tns:getDocListRequest" name="getDocListRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:input>
      <wsdl:output message="tns:getDocListResponse" name="getDocListResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registerChange" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <wsdl:input message="tns:registerChangeRequest" name="registerChangeRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:input>
      <wsdl:output message="tns:registerChangeResponse" name="registerChangeResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDoc" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <wsdl:input message="tns:getDocRequest" name="getDocRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:input>
      <wsdl:output message="tns:getDocResponse" name="getDocResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registerReceipt" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <wsdl:input message="tns:registerReceiptRequest" name="registerReceiptRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:input>
      <wsdl:output message="tns:registerReceiptResponse" name="registerReceiptResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ParusPortSoap11" type="tns:ParusPort" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
    <wsdl:operation name="getDocList" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <soap:operation soapAction="" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      <wsdl:input name="getDocListRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:input>
      <wsdl:output name="getDocListResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registerChange" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <soap:operation soapAction="" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      <wsdl:input name="registerChangeRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:input>
      <wsdl:output name="registerChangeResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDoc" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <soap:operation soapAction="" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      <wsdl:input name="getDocRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:input>
      <wsdl:output name="getDocResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registerReceipt" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <soap:operation soapAction="" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      <wsdl:input name="registerReceiptRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:input>
      <wsdl:output name="registerReceiptResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ParusPortService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:port binding="tns:ParusPortSoap11" name="ParusPortSoap11" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <soap:address location="http://127.0.0.1:7777/ws" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>